<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKaP-9hkCMs6Xz3NU4AuT5GoDI9QSEQtc</string>
	<key>GCM_SENDER_ID</key>
	<string>330177737415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friendlyeats.my</string>
	<key>PROJECT_ID</key>
	<string>friendly-eats-90c75</string>
	<key>STORAGE_BUCKET</key>
	<string>friendly-eats-90c75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330177737415:ios:65c2f8bc97afd87e7344e2</string>
</dict>
</plist>